---
import Tutorials from "@components/tutorials.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import News from "@components/news.astro";
import Walkthrough from "@components/walkthrough.astro";
import Code from "@components/code.astro";
import LearnMore from "@components/learnMore.astro";
import Overview from "@components/overview.astro"
---

<Layout title="">
  <div>
    <Hero />
    <Code />
    <Walkthrough />
    <Tutorials />
    <Overview />
    <LearnMore />
    <News />
  </div>
</Layout>
