---
import Tutorials from "@components/tutorials.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import News from "@components/news.astro";
import GettingStarted from "@components/gettingStarted.astro";
import Code from "@components/code.astro";
---

<Layout title="">
  <div>
    <Hero />
    <GettingStarted />
    <Code />
    <Tutorials />
    <News />
  </div>
</Layout>
