---
const tutorials = [
  {
    title: "End-to-end CIFAR10 classification example with FedAvg",
    tags: ["beginner", "tools"],
    description:
      "Learn how to use the FLARE Simulator to run local federated learning simulations, enabling you to test and debug your code before deploying it in a real-world setting.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Federated Avg with early stopping condition",
    tags: ["beginner", "example"],
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Logistic Regression with Newton-Raphton",
    tags: ["beginner", "tools"],
    description:
      "Familiarize yourself with the various commands and functionalities of the FLARE API, which allows you to programmatically control and customize your federated learning setup.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Survival Analysis with Federated Kaplan-Meier",
    tags: ["beginner", "tools"],
    description:
      "Discover how to leverage NVIDIA FLARE's POC (Proof of Concept) mode to rapidly prototype and validate your federated learning models, accelerating the development process.",
    icon: "bx:bxs-data",
  },
  {
    title: "Federated Learning with Differential Privacy for BraTS18 segmentation",
    tags: ["advanced", "differential-privacy", "medical-imaging"],
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    icon: "bx:bxs-user",
  },
  {
    title: "Financial Application with Federated XGBoost Methods",
    tags: ["advanced", "xgboost", "finance"],
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "LLM Tuning via HuggingFace SFT Trainer",
    tags: ["advanced", "LLM", "HuggingFace"],
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    icon: "bx:bxs-window-alt",
  },
];
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mt-16 md:mt-0 text-center">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Tutorials & Examples
      </h2>
      <p class="text-lg mt-4 text-slate-600 w-3/4 m-auto">
        Explore our extensive catalog of tutorials and examples covering everything
        from the core features of FLARE to various advanced examples across different applications.
      </p>
    </div>

    <!-- Grid setup for all tutorials -->
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
      {
        tutorials.map((item, index) => (
          <div
            class={`flex gap-4 items-start divide-gray-200 rounded-lg bg-white shadow-md ${index >= 6 ? "hidden extra-tutorial" : ""}`}>
            <div>
              <h3 class="font-semibold text-md px-4 pt-2 text-lg">
                {item.title}
              </h3>
              <div class="px-4 py-2 gap-x-2 flex items-center">
                {item.tags.map((tag) => (
                  <span class="inline-flex rounded-full bg-green-50 px-2.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                    {tag}
                  </span>
                ))}
              </div>
              <p class="text-slate-500 mt-2 leading-relaxed px-4 pb-2">
                {item.description}
              </p>
              <div class="flex justify-center border-t border-gray-200">
                <a
                  href="#"
                  class="items-center justify-center rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                  Go to Tutorial
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="mt-10 flex justify-center">
      <button
        type="button"
        id="toggle-button"
        class="flex items-center text-base font-medium tracking-tight text-slate-900 hover:text-slate-700"
        onclick="toggleTutorials()"
        >See more<svg
          aria-hidden="true"
          viewBox="0 0 24 24"
          class="ml-2 h-6 w-6"
          ><path
            d="m17 14-5 5-5-5M12 18.5V5"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        ></button
      >
    </div>
  </div>
</div>

<script is:inline>
  function toggleTutorials() {
    const extraTutorials = document.querySelectorAll(".extra-tutorial");
    const buttonText = document.querySelector("#toggle-button");
    extraTutorials.forEach((tut) => {
      tut.classList.toggle("hidden");
    });
    buttonText.classList.toggle("hidden");
  }
</script>
