---
import NvidiaLogo from '../images/nvidia_eye.png'
import NvflareAnimation from '../images/nvflare_graphic_animation.mp4'
---
<div class="bg-white">
  <div
    class="relative isolate overflow-hidden bg-black">
    <div
      class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-12">
      <div class="px-6 lg:px-0 lg:pt-4">
        <div class="mx-auto max-w-2xl">
          <div class="max-w-lg">
            <div class="mt-24 sm:mt-32 lg:mt-16">
              <a
                href="https://nvflare.readthedocs.io/en/main/whats_new.html"
                class="inline-flex space-x-6">
                <span
                  class="rounded-full bg-nvidia/20 px-3 py-1 text-sm font-semibold leading-6 text-nvidia ring-1 ring-inset ring-nvidia/10"
                  >What's new</span
                >
                <span
                  class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-200 hover:text-gray-100">
                  <span>Just shipped v2.4</span>
                  <svg
                    class="h-5 w-5 text-gray-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </span>
              </a>
            </div>
            <img class="mt-6 flex items-center w-1/2" src={NvidiaLogo.src} alt="NVIDIA logo">
            <h1
              class="mt-10 text-4xl font-bold tracking-tight text-neutral-200 sm:text-6xl">
              NVIDIA FLARE
            </h1>

            <p class="mt-4 text-lg leading-8 text-neutral-400">
              NVIDIA FLARE™ (NVIDIA Federated Learning Application Runtime
              Environment) is a domain-agnostic, open-source, and extensible SDK
              for Federated Learning. It allows researchers and data scientists
              to adapt existing ML/DL workflow to a federated paradigm and
              enables platform developers to build a secure, privacy-preserving
              offering for a distributed multi-party collaboration.
            </p>
            <div class="mt-10 mb-20 flex items-center gap-x-6">
              <a
                href="https://nvflare.readthedocs.io/en/main/index.html"
                class="rounded-md bg-nvidia px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-nvidia"
                >Documentation</a
              >
              <a
                href="https://github.com/NVIDIA/NVFlare"
                class="text-sm font-semibold leading-6 text-gray-300 hover:text-neutral-200"
                >View on GitHub <span aria-hidden="true">→</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen place-content-center">
        <video autoplay loop muted playsinline>
          <source src={NvflareAnimation} type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
