---
// @ts-ignore

const walkthrough = [
  {
    step: "Step 1",
    title: "Introduction to FLARE",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    link: "https://colab.research.google.com/github/NVIDIA/NVFlare/blob/main/examples/tutorials/flare_simulator.ipynb",
  },
  {
    step: "Step 2",
    title: "End-to-end Federated Learning Application",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    link: "https://colab.research.google.com/github/NVIDIA/NVFlare/blob/main/examples/tutorials/flare_simulator.ipynb",
  },
  {
    step: "Step 3",
    title: "Tutorials Catalog",
    description:
      "Now that you understand the basics of FLARE, explore our catalog of various tutorials and examples showcasing everything from the core features of FLARE, to advanced applications.",
    link: "/nvflare-web/catalog.html",
  },
];
---

<div class="py-20 sm:py-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mt-16 md:mt-0 text-center">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Getting Started with FLARE
      </h2>
      <p class="text-lg mt-4 text-slate-600 w-3/4 m-auto">
        Begin your NVIDIA FLARE journey with these guides
        designed to help you quickly grasp essential concepts.
        Follow along with the videos below, and try it out yourself in the notebooks.
      </p>
    </div>

    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-3 pt-12">
      {
        walkthrough.map((item) => (
          <div>
            <span class="flex items-center text-sm font-semibold leading-6 text-nvidia">
              {item.step}
              <div
                class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
                aria-hidden="true"
              />
            </span>
            <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">
              {item.title}
            </p>
            <p class="mt-1 text-base leading-7 text-gray-600">
              {item.description}
            </p>
            <p class="mt-6">
              <a
                href={item.link}
                class="text-sm font-semibold leading-6 text-green-600">
                View Notebook <span aria-hidden="true">→</span>
              </a>
            </p>
          </div>
        ))
      }
    </div>
    <div class="mt-24 flex flex-wrap place-content-center">
      <iframe
        class="h-3/4 w-3/4 aspect-video"
        src="https://www.youtube.com/embed/videoseries?si=nEwRMgLr3MFxMhOC&amp;list=PL5B692fm6--sM4JjMl7bfIKoHQ9hmIUdo"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
