---
// @ts-ignore

const walkthrough = [
  {
    step: "Step 1",
    title: "Introduction to FLARE",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    link: "https://colab.research.google.com/github/NVIDIA/NVFlare/blob/main/examples/tutorials/flare_simulator.ipynb",
  },
  {
    step: "Step 2",
    title: "Client: Converting training code to FL training code",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    link: "https://github.com/NVIDIA/NVFlare/blob/main/examples/tutorials/flare_simulator.ipynb",
  },
  {
    step: "Step 3",
    title: "Server: Defining Federated workflow controller",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    link: "",
  },
  {
    step: "Step 4",
    title: "Create job and run simulation",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    link: "#",
  },
  {
    step: "Step 5",
    title: "Running Federated Learning Job in the real world",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida elementum lorem, ut imperdiet nisi rutrum eget. Aenean elementum sem ac ex malesuada commodo.",
    link: "#",
  },
];
---

<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mt-16 md:mt-0 text-center">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Walk-through
      </h2>
      <p class="text-lg mt-4 text-slate-600 w-3/4 m-auto">
        Begin your NVIDIA FLARE journey by following these step-by-step guides
        designed to help you quickly grasp the essential concepts and tools.
      </p>
    </div>

    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-5 pt-12">
      {
        walkthrough.map((item) => (
          <div>
            <span class="flex items-center text-sm font-semibold leading-6 text-nvidia">
              {item.step}
              <div
                class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
                aria-hidden="true"
              />
            </span>
            <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">
              {item.title}
            </p>
            <p class="mt-1 text-base leading-7 text-gray-600">
              {item.description}
            </p>
            <p class="mt-6">
              <a
                href={item.link}
                class="text-sm font-semibold leading-6 text-green-600">
                View Notebook <span aria-hidden="true">→</span>
              </a>
            </p>
          </div>
        ))
      }
    </div>
  </div>
</div>
